.my-button{
  color:white;
  background-color: rgb(141, 214, 30);
  border-radius: 5px;
  border-color:rgb(141, 214, 30);
  font-size: large;
}

.center-container {
  text-align:center;
  width: 200px;
}

.header{
  background-color:dodgerblue;
  color: white;
  padding: 20px;
  width: 100%;
}

.menubar{
  float: right;
  word-spacing: 20px;
  font-size: large;
}


.link {
  color:aliceblue;
  text-decoration:none;
  word-spacing: 30px;
}

.my-button:hover {
  background-color: rgb(141, 214, 30);
  cursor:pointer;
}

.my-button:active {
  background-color: rgb(141, 214, 30);
  box-shadow: 0 2px aliceblue;
}